.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  background-color: #ffffff;
  border-radius: 45px;
  color: var(--text-colors);
  margin-top: 1.5rem;
  border: 1px solid var(--border-color);
  box-shadow: color-mix(
      in hsl shorter hue,
      var(--secondary-color) 20%,
      var(--background-color)
    )
    0px 0px 10px;
  position: relative;
}

.header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  transition: all 0.3s ease;
}

.header nav a {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--text-muted-color);
  transition: color 0.2s ease;
  text-decoration: none;
}

.header nav a:hover {
  color: var(--primary-color);
}

.header a.active {
  color: var(--primary-color);
}

.header button {
  padding: 0.5rem 1rem;
}

.mobile-menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header {
    flex-direction: row;
    padding: 0.75rem 1rem;
  }

  .mobile-menu-icon {
    display: block;
  }

  .menu {
    width: 90%;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 10px;
    right: 0;
    background-color: var(--pure-white);
    padding: 1rem 2rem;
    display: none;
    gap: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(122, 122, 112, 0.1);
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 100;
  }

  .menu.open {
    display: flex;
    transform: translateY(0);
    opacity: 1;
  }

  .header button {
    padding: 0.5rem 0.75rem;
  }
}
